body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#header-main{
    flex-grow: 1;
}

#content{
    flex-grow: 99;
}

/***** Header *****/


#header-main .container-flex{
    justify-content: center;
    align-items: center;
}


#header-main .container-flex .header-logo{ cursor: default;}

/***** ** Visualizer-O-Matic-9000 ** *****/

#content{
    display: flex;
}


#content .visualizer-container {
    flex: 3;
}

#content .visualizer-menu{
    flex: 1;
}

#content .visualizer-container .visualizer-canvas {
    width: 100%;
    height: 100%;
}

/***** Visualizer |  *****/


/***** Visualizer | Menu *****/




/* Footer */
/* 
.footer{
    width: 100%;
    height: 100%;
    background-color: blue;
} */
